body {
  background-color: whitesmoke; }

nav .mainNav li a {
  background-color: white; }
nav .mainNav li a:hover {
  background-color: #3273dc !important; }

.name, .projectTitle {
  font-family: 'Archivo Black', sans-serif !important;
  padding-bottom: 0.20em;
  color: #0a0a0a !important; }

.position {
  font-family: 'Play', sans-serif !important; }

.contact {
  margin: 1em auto 0 auto !important; }
  .contact ul li {
    background-color: white; }

.nameBackground {
  background: radial-gradient(circle, whitesmoke, #363636); }

.denverBio {
  position: relative;
  width: 100%; }

.denverBio figure {
  margin-bottom: 0.5em; }

figure .denver {
  display: block;
  height: auto;
  width: 100%;
  border: 5px solid black; }

.profile {
  display: block;
  margin: auto;
  width: 30%;
  border: 2px white solid; }

.bio {
  position: absolute;
  overflow: scroll;
  border: 2px #00d1b2 solid;
  padding: 10px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }
  .bio figure {
    margin-bottom: 0 !important; }

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.63);
  overflow: scroll;
  width: 100%;
  height: 0;
  transition: .9s ease; }

.denverBio:hover .overlay {
  bottom: 0;
  height: 100%; }

.resumeTitle {
  border-bottom: 5px solid #b5b5b5; }

.projectTitle:hover {
  color: blue !important; }

.top {
  text-decoration: underline; }

.card {
  background-color: #b7c8e5;
}

.tags {
  justify-content: center !important; }

.skills .tag {
  letter-spacing: 0.1em;
  color: black !important;
  background-color: #b5b5b5 !important; }

.fullStack {
  background-color: #3273dc !important; }

.box {
  background-color: white; }

.sectionTitle {
  font-size: 1.5em;
  border-bottom: 10px solid white;
  border-top: 5px solid white !important;
  color: white; }

.campImage {
  height: 60% !important;
  width: 100% !important;
}

.niceImage {
  height: 80% !important;
  width: 100% !important;
}

@media screen and (max-width: 1026px) {
  .bio {
    position: relative;
    overflow: scroll;
    border: 2px #00d1b2 solid;
    padding: 10px;
    height: 100%;
    color: white;
    font-size: 1.5em !important; }

  .sectionTitle {
    line-height: 1.5em;
    border-top: 3px solid white;
    border-bottom: 6px solid white; } }

@media screen and (max-width: 768px) {
  .mainNav {
    font-size: 0.75rem !important; }

  .tag {
    letter-spacing: normal;
    font-size: 0.75rem !important; }

  .fullStack {
    font-size: 1.25rem !important; }

  .bio {
    position: relative;
    overflow: auto;
    border: 2px #00d1b2 solid;
    padding: 10px;
    height: 100%;
    color: white;
    font-size: 0.8em !important; }

  .sectionTitle {
    line-height: 1.5em;
    border-top: 3px solid white;
    border-bottom: 6px solid white; }

  .contact {
    font-size: 0.75rem; }
    .contact .navbar-item {
      padding: 0 0.5rem; }
      .contact .navbar-item span {
        margin: 0 !important; } }

/*# sourceMappingURL=base.css.map */
